.headerBlock{
        height: 60px;
        background-color: rgba(0, 0, 0, 0.727);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        width: 100%;
}