.mainBlock{
    height: 100vh;
    background-color: rgb(29, 128, 128);
}


.text{
    width: 300px;
    background-color: thistle;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: thistle;
}