.mainBlock{
    height: 100vh;
    background-color: #A5BEF9;
}


.text{
    width: 400px;
}

.photo{
    width: 300px;
    height: 400px;
    background-image: url("../img/me.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
}