.mainBlock{
    height: 100vh;
    background-color: #111;}


.text{
    width: 400px;
    background-color: thistle;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: thistle;
}
.btn{
    background-color: rgb(90, 87, 87);
    color: white;
    width: 150px;
    height: 50px;
}