.contactsBlock{
    min-height: 100vh;
    background-color: rgb(228, 148, 134);
}
.contactsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: gray;
}
.contacts{
    border: 1px solid;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}